@import 'icing/common';

.message-form {
	input[type='text'], textarea {
		width: 100%;
	}

	input[type='text'] {
		height: 2em;
	}
}

.conversations, .conversation {
	> li {
		display: block;
		padding: 1em;
		border-bottom: 1px solid $gray;

		.timestamp {
			color: $dark_gray;
			margin-left: 0.5em;
		}

		h3 {
			font-size: 1em;
			margin: 0px;
		}
	}
}

.conversations {
	> li {
		cursor: pointer;
		&:hover {
			background-color: $gray;
		}
	}
}

.multiselect-container {
	.m-input {
	}

	.m-picker {
		display: none;
		&.active {
			display: block;
		}

		> li {
			&.active {
				background-color: $gray;
			}
		}
	}
}

.bb {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
