@import 'icing/common';

.message-form {
	input[type='text'], textarea {
		width: 100%;
	}

	input[type='text'] {
		height: 2em;
	}
}

.conversations, .conversation {
	> li {
		display: block;
		padding: 1em;
		border-bottom: 1px solid $gray;

		.timestamp {
			color: $dark_gray;
			margin-left: 0.5em;
		}

		h3 {
			font-size: 1em;
			margin: 0px;
		}
	}
}

.conversations {
	> li {
		cursor: pointer;
		&:hover {
			background-color: $gray;
		}
	}
}

.participants {
	> li {
		display: inline-block;
		margin-right: 0.1em;
	}
}

.avatar-container {
	margin-right: 1em;
}

.avatar-medium {
	width: 50px;
	height: auto;
}

.avatar-small {
	width: 20px;
	height: auto;
}

.multiselect-container {
	.m-input {
		> li {
			img {
				width: 12px;
				height: auto;
			}

			&.active {
				background-color: $gray;
			}
		}
	}

	.m-picker {
		display: none;
		&.active {
			display: block;
		}

		> li {
			img {
				width: 32px;
				height: auto;
			}

			&.active {
				background-color: $gray;
			}
		}
	}
}

.bb {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
